@font-face {
    font-family: 'fontawesome';
    src: url('fonts/fontawesome-webfont.eot'),
         url('fonts/fontawesome-webfont.woff') format('woff'),
         url('fonts/fontawesome-webfont.woff2') format('woff2'),
         url('fonts/fontawesome-webfont.ttf') format('truetype'),
         url('fonts/fontawesome-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}